.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 100vw;
  height: calc(100% - 55px - 92px);
}

.title {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 6;
}
.description {
  grid-area: 2 / 2 / 4 / 5;
  & div .p-toggleable-content {
    height: 100%;
  }
}

