@import '~src/variables.less';

.wrapper {
  .defaultFlex();
  padding: 1rem;

  & .title {
    flex: 0 0 90%;
    margin-bottom: 1rem;
  }

  & .task-bar {
    .defaultFlex();
    flex: 0 0 90%;

    .p-steps {
      flex: 0 0 100%;
    }

    @media (max-width: @max-screen-width-default) {
      flex-direction: column;
    }
  }

  & .description {
    flex: 0 0 90%;
    min-height: 60%;

    & div .p-toggleable-content {
      height: 100%;
    }
  }
}
