@if (tasksMenu && description) {
  <div class="wrapper">
    <p-steps
      class="task-bar"
      [model]="tasksMenu"
      [readonly]="false"
      [activeIndex]="activeIndex"
      (activeIndexChange)="indexChange($event)"
    ></p-steps>
    <div class="title">
      <h1>{{ description.title }}</h1>
    </div>
    @if (description && activeIndex == 0) {
      <p-panel
        class="description"
        header="Beschreibung"
      >
        <pre [innerHTML]="description.description"></pre>
        <p-button (click)="taskCompleted()">Next</p-button>
      </p-panel>
    }

    @if (bigTask && !activeTask) {
      <p-panel
        class="description"
        [header]="bigTask.title"
      >
        {{ bigTask.description }}
      </p-panel>
    }
    @if (activeTask) {
      <div class="taskContainer">
        @switch (activeTask.type) {
          @case ('DRAG_AND_DROP_GROUP') {
            <app-drag-drop-group
              class="task"
              [task]="activeTask"
            ></app-drag-drop-group>
          }
          @case ('DRAG_AND_DROP_WORDS') {
            <app-drag-drop-words
              class="task"
              [task]="activeTask"
            ></app-drag-drop-words>
          }
          @case ('TYPE_MISSING_WORDS') {
            <app-type-missing-words
              class="task"
            ></app-type-missing-words>
          }
          @case ('FIND_WRONG_WORDS') {
            <app-find-wrong-words
              class="task"
            ></app-find-wrong-words>
          }
          @case ('MULTIPLE_CHOICE') {
            <app-multiple-choice
              class="task"
              (taskCompleted)="taskCompleted()"
              [task]="activeTask"
            ></app-multiple-choice>
          }
        }
      </div>
    }
  </div>
}
