@import "~src/variables.less";

.wrapper {
  .defaultFlex();
  justify-content: space-evenly;
  padding: 1rem;
}

.item {
  color: gray;
  background: lightgray;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 15px;
  width: 30%;
  min-height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 30%;
  margin: 0.5rem;

  & .groupHeadline {
    flex: 0 0 100%;
  }
}

.undraggedItems {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100vw;

  & .pickZone {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    min-height: 50px;
    position: relative;
    bottom: 0;

    background: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 15px 15px 0 0;
  }
}

.draggableItem {
  display: block;
  cursor: move;
  color: @text-color;
  background: @secondary-color;
  width: 150px;
  border-radius: 1rem;
  text-align: center;
  margin: 0.25rem;
  padding: 0.25rem;
}

.checkBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}
