@if (task.type == 'DRAG_AND_DROP_GROUP' && editedTask) {
  <div class="wrapper">
    <div class="question">
      <h1>{{ task.name }}</h1>
    </div>
    <div class="question-type">
      <h3>Drag and Drop</h3>
    </div>
    @for (group of editedTask.group; track trackByGroup; let i = $index) {
      <span
        pDroppable
        class="item"
        (onDrop)="drop(i)"
      >
    <h3 class="groupHeadline">{{ group.text }}</h3>
        @for (item of group.items; track trackByItem; let n = $index) {
          <span
            pDraggable
            class="draggableItem"
            (onDragStart)="dragStart(item, n, i)"
            (onDragEnd)="dragEnd()"
          >{{ item }}</span>
        }
      </span>
    }
    @if (undraggedItems.length == 0) {
      <button
        pButton
        class="p-button-success checkBtn"
        label="Überprüfen"
        (click)="check()"
      ></button>
    }
    @for (item of undraggedItems; track trackByItem) {
      <span
        class="draggableItem"
        pDraggable
        (onDragStart)="dragStart(item, $index, 'undragged')"
        (onDragEnd)="dragEnd()"
      >{{ item }}</span>
    }
  </div>
}
