<div class="wrapper" *ngIf="task.type=='DRAG_AND_DROP_GROUP' && editedTask">
  <div class="question">
    <h1>{{ task.name }}</h1>
  </div>
  <div class="question-type">
    <h3>Drag and Drop</h3>
  </div>
  <span
    pDroppable
    class="item"
    *ngFor="let group of editedTask.group; let i = index; trackBy: trackByGroup"
    (onDrop)="drop(i)"
  >
    <h3 class="groupHeadline">{{ group.text }}</h3>
    <div *ngFor="let item of group.items; let n = index; trackBy: trackByItem">
      <span
        pDraggable
        class="draggableItem"
        (onDragStart)="dragStart(item, n, i)"
        (onDragEnd)="dragEnd()"
      >{{ item }}</span>
    </div>
  </span>
  <button
    pButton
    class="p-button-success checkBtn"
    label="Überprüfen"
    *ngIf="undraggedItems.length == 0"
    (click)="check()"
  ></button>
  <section class="undraggedItems">
    <div class="pickZone">
      <span
        pDraggable
        class="draggableItem"
        *ngFor="let item of undraggedItems; let i = index; trackBy: trackByItem"
        (onDragStart)="dragStart(item, i, 'undragged')"
        (onDragEnd)="dragEnd()"
      >{{ item }}</span>
    </div>
  </section>
</div>
