@import "~src/variables.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.hr {
  margin-bottom: 3px;
}

.container {
  .defaultFlex();
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background: var(--gray-800);
  padding: 10px 15px;
  color: var(--gray-50);
  margin-bottom: 15px;

  & .headerAside {
    flex: 0 0 20%;

    &Right {
      text-align: right;

      & .pi-user {
        cursor: pointer;
        transform: scale(150%);
        font-size: 1.5rem;
      }
    }
  }

  & .headerTitle {
    flex: 0 0 60%;
    margin: 4px 0;
    text-align: center;
  }

  & .pi-bars {
    cursor: pointer;
    transform: scale(150%);
    font-size: 1.5rem;
  }

  .p-steps {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: unset;
  font-size: larger;

  &:hover {
    transition: color .1s linear;
    color: var(--highlight-text-color);
  }
}
