* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.defaultFlex() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  .defaultFlex();

  & .headerNavigation {

  }

  & .headerLogin {

  }
}
