<div class="wrapper">
  <div class="question">
    <h1>{{ task.name }}</h1>
  </div>
  <div class="question-type">
    <h3>Drag and Drop Words</h3>
  </div>

  <p-panel class="dropZone">
    @for (word of splittedWords; track splittedWords) {
      <span>
        @if ($index % 2 == 0) {
          <span>{{ word }}</span>
        } @else if ($index % 2 == 1) {
          <span
            pDroppable
            pDraggable
            (onDragEnd)="dragEnd()"
            (onDragStart)="startDrag($index, word, $index)"
            class="item"
            (onDrop)="drop($index)"
          > {{ this.splittedWords[ $index ].includes('WORD') ? '' : this.splittedWords[ $index ] }} </span>
        }
  </span>
    }
  </p-panel>

  @if (shuffledWords.length == 0) {
    <button
      pButton
      class="p-button-success checkBtn"
      label="Überprüfen"
      (click)="check()"
    ></button>
  }

  <section class="undraggedItems">
    <section class="pickZone">
      @for (item of shuffledWords; track shuffledWords) {
        <span
          class="draggableItem"
          pDraggable
          (onDragEnd)="dragEnd()"
          (onDragStart)="startDrag($index, item, 'undragged')"
        > {{ item }} </span>
      }
    </section>
  </section>
</div>
