<div class="wrapper">
  <div class="question">
    <h1>{{ task.name }}</h1>
  </div>
  <div class="question-type">
    <h3>Drag and Drop Words</h3>
  </div>

  <p-panel class="dropZone">
  <span *ngFor="let word of splittedWords; let i = index">
    <span *ngIf="i % 2 == 0">{{ word }}</span>
    <span
      *ngIf="i % 2 == 1"
      pDroppable
      pDraggable
      (onDragEnd)="dragEnd()"
      (onDragStart)="startDrag(i, word, i)"
      class="item"
      (onDrop)="drop(i)"
    > {{ this.splittedWords[ i ].includes('WORD') ? '' : this.splittedWords[ i ] }} </span>
  </span>
  </p-panel>

  <button
    pButton
    class="p-button-success checkBtn"
    label="Überprüfen"
    *ngIf="shuffledWords.length == 0"
    (click)="check()"
  ></button>

  <section class="undraggedItems">
    <section class="pickZone">
    <span
      class="draggableItem"
      *ngFor="let item of shuffledWords; let i = index"
      pDraggable
      (onDragEnd)="dragEnd()"
      (onDragStart)="startDrag(i, item, 'undragged')"
    > {{ item }} </span>
    </section>
  </section>
</div>
