<form class="container h-screen w-full flex justify-content-center align-items-center" [formGroup]="form">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <div class="text-3xl mb-3"> Login</div>
    </div>

    <div>
      <label for="email1" class="block mb-2"> Email </label><br>
      <input
          id="email1"
          formControlName="email"
          type="email"
          email="true"
          name="email"
          placeholder="email"
          pInputText
          class="w-full mb-3"
      >
      <br>
      <label for="password1" class="block mb-2"> Password </label><br>
      <input
          id="password1"
          formControlName="password"
          type="password"
          placeholder="password"
          pInputText
          autocomplete="on"
          class="w-full mb-3"
      >

      <div class="text-center mb-5">
        <span class=""> Keinen Account? Erstellen sie sich einen </span>
        <a routerLink="/register" style="color:green;"> Registrieren</a>
      </div>

      <p-checkbox name="remember" label="Remember me" class="mb-3" formControlName="stayLoggedIn"></p-checkbox>
      <button
          [disabled]="form.invalid"
          pButton
          pRipple
          label="Login"
          icon="pi pi-user"
          class="w-full"
          (click)="login()"
          [loading]="loading"
      ></button>
    </div>
  </div>
</form>



