@import "~src/variables.less";

.container {
  .defaultFlex();
}

.surface-card {
  background-color: @primary-color-100;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.border-round {
  border-radius: 0.5rem;
}

.h-screen {
  height: 80vh;
}

.w-full {
  width: 100%;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.loginPasswordShow:hover {
  cursor: pointer;
  background-color: @primary-color-200;
}
